<h4>{{number + 1}}. {{ question?.text }}</h4>

<div [formGroup]="group">
  <ng-template [ngIf]="question?.type === 'Range'" class="mx-auto">
    <div class="row">
      <div class="col">
        <h5 class="float-left">{{question.choices[0].text}}</h5>
      </div>
      <div class="col">
        <h5 class="float-right">{{question.choices[1].text}}</h5>
      </div>
    </div>

    <div class="btn-group btn-group-toggle d-flex" ngbRadioGroup name="{{question.id}}" formControlName="answer">
      <label ngbButtonLabel  class="btn btn-outline-secondary w-100" *ngFor="let choice of choices">
        <input ngbButton type="radio" value="{{choice}}">{{choice}}
      </label>
    </div>
  </ng-template>

  <ng-template [ngIf]="question?.type === 'MultipleChoice'">
    <div class="d-flex flex-column" ngbRadioGroup name="{{question.id}}" formControlName="answer">
        <div *ngFor="let choice of question.choices">
          <label ngbButtonLabel>
            <input ngbButton type="radio" [value]="choice.id">{{choice.text}}
          </label>
        </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="question?.type === 'Text'">
    <textarea class="form-control" rows="5" name="{{question.id}}" formControlName="answer"></textarea>
  </ng-template>


  <ng-template [ngIf]="question.type === 'MultipleSelection'" class="flex-wrap">
    <div class="d-flex flex-column" formArrayName="choices">
      <div *ngFor="let choice of question.choices; let i = index">
        <div [formGroupName]="i">
          <label ngbButtonLabel>
            <input ngbButton type="checkbox" formControlName="answer">{{choice.text}}
          </label>
        </div>
      </div>
    </div>
  </ng-template>
</div>



